.login {
  min-height: 100vh;
  background: url("/background.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.login .logo {
  width: max(20vw, 200px);
}
.login-form {
    display: flex;
    flex-direction: column;
   gap: 20px;
    background: white;
    padding: 20px 30px;
    padding: 20px;
    border-radius: 20px;
}
.login-form h2 {
    font-weight: 500;
    font-family: 'sans-serif';
    text-align: center;
    margin-bottom: 20px;
}
.form-input {
    padding: 8px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    outline-color:#077EFF;
}

.login-form button {
    padding: 10px;
    border: none;
    background-color: #077EFF;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.1s ease;
    cursor: pointer;
    border-radius: 4px;
     &:hover {
        background-color: #08458b;
    }
}

.login-term{
    display: flex;
    gap:3px;
    font-size: 14px;
    color: #808080;
    text-align: center;
    &:hover {
        color:rgb(24, 223, 197);
    }
}
.login-forget{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.login-toggle{
    font-size: 13px;
    color:#5c5c5c
}
.login-toggle span {
    font-weight: 500;
    color: #077EFF;
    cursor: pointer; 
}