.profile{
    min-height: 100vh;
    background: url("/background.png") no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 700px;
    border-radius: 10px;
}
.profile-pic{
    max-width: 160px;
    aspect-ratio: 1/1;
    margin: 20px auto;
    border-radius: 50%;
}
.profile form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile form h3{
   font-weight: 500;
}
.profile  label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: gray;
}
.profile label img{
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile input,textarea{
    padding: 10px;
    min-width: 300px;
    border: 1px solid #c9c9c9;
    outline-color: #077eff;
}
.profile form button{
    background: #077eff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding:8px;
}